doctype html
html
  head
    title #{title}
  body
    h1 Create Payment Request
    .checkout-page
      form#payment-form(method='POST' action='/payments')
        .field
          label Name
          input#cardholder-name.input.empty(placeholder='John Doe')
        .field
          label Card Number
          #card-number.input.empty
        .field
          label Expiration Date 
          #exp-date.input.empty
        .field
          label CVV 
          #cvv.input.empty
        .field
          label Billing Address  
        .field
          label Email
          input#email.input.empty(placeholder='mail@mail.com')
        .field
          label Address Line 1 
          input#line1.input.empty(placeholder='Street Address')
        .field
          label City 
          input#city.input.empty(placeholder='City')
        .field
          label Country 
          input#country.input.empty(placeholder='USA' pattern='[A-Z]{3}' autocomplete='off')
        .field
          label Phone 
          input#phone.input.empty(placeholder='333-333-4444')
        button#pay_button(type='submit') Pay $25
    script(src='https://js.paymentsos.com/v3/latest/secure-fields.min.js')
    script(src='/javascripts/index.js')
      

